Repository baabouj/create-a-new-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: add option to add list-staged to the app
  src/bin.ts
  src/index.ts
  src/shared/lintstaged-prettier/.lintstagedrc.json
  src/shared/lintstaged/.husky/pre-commit
  src/shared/lintstaged/.lintstagedrc.json
  src/shared/lintstaged/package.json
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --write

feat: add option to add commitlint to the app
  src/bin.ts
  src/index.ts
  src/shared/commitlint/.commitlintrc.json
  src/shared/commitlint/.husky/commit-msg
  src/shared/commitlint/package.json
  src/types.ts
Due: eslint --fix, prettier --write

chore: add tests
  package.json
  tests/index.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(src/shared): remove jest from eslint config
  src/shared/eslint-prettier-typescript/.eslintrc.json
  src/shared/eslint-prettier/.eslintrc.json
  src/shared/eslint-typescript/.eslintrc.json
  src/shared/eslint/.eslintignore
  src/shared/eslint/.eslintrc.json
  src/shared/eslint/package.json
  src/shared/prettier/.prettierignore
  src/shared/prettier/package.json
Due: prettier --write

chore: add github actions
  .github/release-drafter.yml
  .github/workflows/draft.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: add pnpm-lock.yaml
  .gitignore
  pnpm-lock.yaml
Due: none

fix(tests): remove git init command
  tests/index.test.ts
Due: eslint --fix

fix(tests): use npx pnpm
  tests/index.test.ts
Due: eslint --fix

fix(tests): use npm
  tests/index.test.ts
Due: eslint --fix

fix(tests): use pnpm
  tests/index.test.ts
Due: eslint --fix

fix(.github/workflows/test.yml): reconfigure git to use HTTP authentication
  .github/workflows/test.yml
Due: none

fix(.github/workflows/test.yml): remove git reconfiguration step
  .github/workflows/test.yml
Due: none

fix(tests): run dir command
  tests/index.test.ts
Due: eslint --fix

fix(tests): run pnpm install with --no-frozen-lockfile
  tests/index.test.ts
Due: eslint --fix

fix(src/shared): add missing eslint packages
  src/shared/eslint-prettier-typescript/package.json
  src/shared/eslint-prettier/package.json
Due: prettier --write

fix: remove jest
  .eslintrc.json
Due: prettier --write

fix(tests): use external test directory
  tests/index.test.ts
Due: eslint --fix

fix(tests): copy .env.exapmle to .env if existed
  tests/index.test.ts
Due: eslint --fix

fix(tests): use execaCommandSync instead of execa
  tests/index.test.ts
Due: eslint --fix

chore: set package version to 0.0.1
  package.json
Due: prettier --write

chore: rename package
  package.json
Due: prettier --write

ci: add autolabeler to release-drafter
  .github/release-drafter.yml
Due: none

fix(.github/workflows/release.yml): remove extra hyphens
  .github/workflows/release.yml
Due: none

fix(package.json): add prepare and postversion scripts
  package.json
Due: prettier --write

fix(package.json): use pnpm instaed of npm run
  package.json
Due: prettier --write

fix(.github/workflows/release.yml): add build step
  .github/workflows/release.yml
Due: none

fix: initialize git when the app is created
  src/bin.ts
Due: eslint --fix

fix: use templates in src directory on development
  src/utils.ts
  tsup.config.ts
Due: eslint --fix

ci: bump vertion to 0.1.0
  package.json
Due: prettier --write

fix(src/bin.ts): start script with the node executable
  src/bin.ts
Due: eslint --fix

ci: bump version to 0.1.1
  package.json
Due: prettier --write

fix(templates/server/typescript/express): remove unused dependencies
  src/templates/server/typescript/express/package.json
Due: prettier --write

fix(templates/server/typescript/express): move @types/passport-jwt to devDepenedencies
  src/templates/server/typescript/express/package.json
Due: prettier --write

feat: add docs
  README.md
Due: none

feat: add option to add github actions to libraries
  README.md
  src/bin.ts
  src/index.ts
  src/shared/gh-actions/release-drafter.yml
  src/shared/gh-actions/workflows/draft.yml
  src/shared/gh-actions/workflows/release.yml
  src/shared/gh-actions/workflows/test.yml
  src/types.ts
Due: eslint --fix

fix: add repository to package.json
  package.json
Due: prettier --write

ci: bump version to 0.1.2
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.json
