Repository baabouj/create-a-new-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: bump version to 0.1.2
  package.json
Due: prettier --write

feat: add express skeleton template
  src/templates/server/typescript/express-skeleton/.gitignore
  src/templates/server/typescript/express-skeleton/ecosystem.config.json
  src/templates/server/typescript/express-skeleton/meta.json
  src/templates/server/typescript/express-skeleton/package.json
  src/templates/server/typescript/express-skeleton/src/app.ts
  src/templates/server/typescript/express-skeleton/src/index.ts
  src/templates/server/typescript/express-skeleton/tests/index.test.ts
  src/templates/server/typescript/express-skeleton/tsconfig.build.json
  src/templates/server/typescript/express-skeleton/tsconfig.json
  src/templates/server/typescript/express-skeleton/vitest.config.ts
Due: eslint --fix, prettier --write

fix(typescript/express-skeleton): remove console.log and use pino
  src/templates/server/typescript/express-skeleton/package.json
  src/templates/server/typescript/express-skeleton/src/index.ts
Due: eslint --fix, prettier --write

ci: bump version to to 0.2.0
  package.json
Due: prettier --write

chore: migrate prompts to @clack/prompts
  package.json
  pnpm-lock.yaml
  src/bin.ts
  src/index.ts
  src/utils.ts
Due: eslint --fix, prettier --write

ci: bump version to 0.2.1
  package.json
Due: prettier --write

fix: uncomment dependencies install command
  src/bin.ts
Due: eslint --fix

ci: bump version to 0.2.2
  package.json
Due: prettier --write

fix: remove meta file from the generated template
  src/index.ts
Due: eslint --fix

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
  src/bin.ts
  src/index.ts
  src/shared/commitlint/package.json
  src/shared/eslint-prettier-typescript/package.json
  src/shared/eslint-prettier/package.json
  src/shared/eslint-typescript/package.json
  src/shared/eslint/package.json
  src/shared/lintstaged/package.json
  src/shared/prettier/package.json
  src/templates/library/javascript/package.json
  src/templates/library/typescript/package.json
  src/templates/server/typescript/express-skeleton/package.json
  src/templates/server/typescript/express/package.json
  src/templates/server/typescript/express/src/app.ts
  src/templates/server/typescript/express/src/config/config.ts
  src/templates/server/typescript/express/src/controllers/auth.controller.ts
  src/templates/server/typescript/express/src/exceptions/bad-request.exception.ts
  src/templates/server/typescript/express/src/exceptions/http.exception.ts
  src/templates/server/typescript/express/src/index.ts
  src/templates/server/typescript/express/src/middlewares/auth.middleware.ts
  src/templates/server/typescript/express/src/middlewares/error-handler.middleware.ts
  src/templates/server/typescript/express/src/middlewares/validate.ts
  src/templates/server/typescript/express/src/routes/v1/auth.route.ts
  src/templates/server/typescript/express/src/services/auth.service.ts
  src/templates/server/typescript/express/src/services/token.service.ts
  src/templates/server/typescript/express/src/services/user.service.ts
  src/templates/server/typescript/express/src/utils/encryption.util.ts
  src/templates/server/typescript/express/tests/fixtures/user.fixture.ts
  src/templates/server/typescript/express/tests/integration/auth.test.ts
  src/templates/server/typescript/express/tests/unit/middlewares/error-handler.test.ts
  src/templates/server/typescript/express/tests/unit/middlewares/validate.test.ts
  tests/index.test.ts
  tsup.config.ts
Due: eslint --fix, prettier --write

fix(package.json): adjust linting scripts
  package.json
Due: prettier --write

ci: drop testing with node version 14
  .github/workflows/test.yml
Due: none

fix(bin.ts): uncomment dependencies installing command
  src/bin.ts
Due: eslint --fix

ci: bump version to to 0.2.3
  package.json
Due: prettier --write

chore(templates/server/typescript/express): add input validation and authentication to handleAsync helper
  src/templates/server/typescript/express/src/controllers/auth.controller.ts
  src/templates/server/typescript/express/src/lib/handle-async.ts
  src/templates/server/typescript/express/src/lib/is-authenticated.ts
  src/templates/server/typescript/express/src/lib/parse-schema.ts
  src/templates/server/typescript/express/src/middlewares/auth.middleware.ts
  src/templates/server/typescript/express/src/middlewares/index.ts
  src/templates/server/typescript/express/src/middlewares/validate.ts
  src/templates/server/typescript/express/src/routes/v1/auth.route.ts
  src/templates/server/typescript/express/tests/integration/auth.test.ts
  src/templates/server/typescript/express/tests/unit/middlewares/validate.test.ts
Due: eslint --fix

ci: bump version to to 0.2.4
  package.json
Due: prettier --write

ci: update pnpm version
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: format json files
  src/templates/library/typescript/tsconfig.json
  src/templates/server/typescript/express-skeleton/tsconfig.json
  src/templates/server/typescript/express/tsconfig.json
Due: prettier --write

fix(ci): run pnpm install with frozen lockfile option
  .github/workflows/release.yml
  .github/workflows/test.yml
  src/shared/gh-actions/workflows/release.yml
  src/shared/gh-actions/workflows/test.yml
Due: none

fix: run commitlint command in git commit-msg hook with npx
  .husky/commit-msg
Due: none

Path conditions:
  eslint --fix: any of: **/*.{js,ts}
  prettier --write: any of: **/*.json
